
<mat-card class="full-card" style="margin-top:20px;">
  <mat-card-title>Create Account</mat-card-title>
  <button mat-raised-button color="primary"  (click)="createAccount()">Create</button>

  <div *ngIf="newAccount != null">
    <p>
      NOTE: Once you leave this page, you cannot recover the address or private key. Please copy this somewhere safe!
    </p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Address" value="{{newAccount.address}}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Private Key" value="{{newAccount.privateKey}}">
    </mat-form-field>
  </div>

</mat-card>
