h1 {
    color: #369;
    // font-family: Arial, Helvetica, sans-serif;
    // font-size: 100%;
  }


.content-wrapper {
  // height: 100vh;
  // margin-top: 5rem;
}

.navbar {
  width: 100vw;
  align-items: center;

  > li:last-child {
    margin-left: auto;
  }
}

li.active > a {
  font-weight: 700;
  color: #49D9E6;
}

.icon-logo {
  display: none !important;
}

.page-logo {
  width: 13rem;

  a {
    text-decoration: none;
  }
}

.page-logo svg .cls-1,
.page-logo svg .cls-2,
.page-logo svg .cls-3 {
  fill:#fff;
  stroke:#fff;
  stroke-miterlimit:10;
}
.page-logo svg .cls-1{
  stroke-width:4px;
}
.page-logo svg .cls-3{
  stroke-width:18px;
}

footer {
  text-align: center;
  margin-top: 30px;
}


@media only screen and (max-width: 600px) {
  .page-logo {
    display: none !important;
  }

  &.icon-logo {
    display: flex !important;
  }

  .navbar > li {
    span {
      display: none;
    }
  }
}

/* this is here to hide things that should only show when small */
.show-small {
  display: none;
}

@media (max-width: 720px) {
  .hide-small {
    display: none;
  }

  .show-small {
    display: block;
  }
}
