<mat-toolbar color="primary">
    <span style="margin-right: 20px;"><a routerLink="" style="color: white; text-decoration: none;">GoChain Wallet</a></span>

    <button mat-button routerLink="/create-account">Create Account</button>
    <button mat-button routerLink="/get-go">Get GO</button>
    <button mat-button routerLink="/send-tx">Send Tx</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <mat-form-field style="font-size: 75%; max-width: 120px; margin-right: 20px;">
        <mat-select [(value)]="network" (selectionChange)="changeNetwork()">
            <mat-option value="mainnet">MainNet</mat-option>
            <mat-option value="testnet">TestNet</mat-option>
        </mat-select>
    </mat-form-field>

    <span style="margin-right: 20px; font-size: 75%;"><a class="toolbar-link" href="https://gochain.io" target="_blank">Website</a></span>
</mat-toolbar>

<div style="margin:2em;">
    <mat-card style="margin-bottom: 2em;">
        <mat-card-title>Warning</mat-card-title>
        <mat-card-content>
            Please use this wallet in <a href="https://support.google.com/chrome/answer/95464?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">Chrome Incognito Mode</a> 
            or <a href="https://support.mozilla.org/en-US/kb/private-browsing-use-firefox-without-history" target="_blank">Firefox Private Window</a>. This will disable 
            any extensions that could read your private key.
        </mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>
