
<mat-card class="" style="">
  <mat-card-title>Getting Started</mat-card-title>

  <div fxLayout="row" fxLayout.lt-md="column" style="width: 100%;"  fxLayoutGap="20px">
    <div fxFlex="1 1 auto" class="one full-card full-height" >
      <div class="">
        <mat-card class="" style="">
          <mat-card-title>1. <a routerLink="/create-account">Create Account</a></mat-card-title>
          <mat-card-content>
             The first thing you need is an account, click Create Account at the top to get started.
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <div fxFlex="1 1 auto" class="two full-card full-height" fxGrow >
        <mat-card class="" style="">
          <mat-card-title>2. <a routerLink="/get-go">Get GO</a></mat-card-title>
          <mat-card-content>
              Now that you have an account, you need some GO to spend.
              <a href="https://t.me/go_chain" target="_blank">Join our Telegram</a> to find out how to get some!
          </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="1 1 auto" class="three full-card full-height">
        <mat-card class="" style="">
          <mat-card-title>3. <a routerLink="/send-tx">Send GO</a></mat-card-title>
          <mat-card-content>
            Now that you have some GO, you can send it to your friends or interact with DApps and smart contracts! Click Send GO above to send GO.
          </mat-card-content>
        </mat-card>
    </div>

  </div>

</mat-card>
