<mat-card class="full-card">
  <mat-card-title>Send Transaction</mat-card-title>
  <form [formGroup]="txForm">
    <div class="form-group" id="div-tx-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Private Key" formControlName="privateKey">
      </mat-form-field>
      <app-balance #balance></app-balance>
      <mat-form-field class="full-width">
        <input matInput placeholder="To" formControlName="to">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Amount" formControlName="amount">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendTx()" [disabled]="sending">Send</button>
    </div>
  </form>

  <mat-card style="margin-top: 12px;">
    <mat-card-content>
      <div *ngIf="sending">
        <span>Transaction submitted, waiting for receipt...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="receipt != null">
        <p>
          Transaction complete!<br/>
          TxHash: <a href="{{explorerHost()}}/tx/{{receipt.transactionHash}}" target="_blank">{{ receipt.transactionHash }}</a>
        </p>
      </div>
          
    </mat-card-content>
  </mat-card>
</mat-card>
